/Intermediate/
*.sdf
/ipch/
/Debug/
/Release/
*.suo
/ow-obs.opensdf
/libshared/Debug/
/libowobs/Debug/
/libowobs/Release_VC2010/
/libowobs/Debug_VC2010/
/libowobs/Release/
/libowobs/Debug/
/libowobs/x64/
/output
*.aps
/.vs
/x64/