/Intermediate/
*.sdf
/ipch/
/Debug/
/Release/
*.suo
/ascent-obs.opensdf
/libshared/Debug/
/libascentobs/Debug/
/libascentobs/Release_VC2010/
/libascentobs/Debug_VC2010/
/libascentobs/Release/
/libascentobs/Debug/
/libascentobs/x64/
/libowobs
/output
*.aps
/.vs
/x64/